body {
      background: linear-gradient(135deg, #ffecd2, #fcb69f);
      font-family: 'Comic Sans MS', cursive, sans-serif;
      text-align: center;
      margin: 0;

    }

    .game-container {
      background: white;
      border-radius:  20px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
      border-bottom: #ffecd2 solid 15px;
    }

  

  .btn {
size:50cm !important;
    }
  

    .col {
max-height: 600px !important;
    }

.lyrics-div {
   width: 100%;
}

.lyrics-wrapper {
  height: 180px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

  .word-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
  font-size: 1.6rem;
    
}

.word-container img {
  width: 60px;
  margin-bottom: 4px;
}

.word-active {
  color: orange;
  transform: scale(1.2);
}


#progress {
  width: 100%;
  max-width: 600px; 
}



#volumeIcon {
  cursor: pointer;
  font-size: 20px;
}

#volumeIcon:hover {
  font-size: 22px;
}

.hidden-volume {
  display: none;
  width: 70%;
}